* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.dimensions {
  width: 500px;
  height: 500px;
  color: white;
  font-size: 500px;
  background-color: red;
  display: none;
  text-align: center;
  line-height: 500px;
}
.active {
  display: block;
}
