<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="float.css" type="text/css">


</head>

<body>
    <div>
        <ul class="head cf">
            <li>Blog</li>
            <li>Contact</li>
            <li>About</li>
            <li>Home</li>
        </ul>
        <img id="main-banner" src="/htmlcss.jpg" alt="htmlcssslika">

        <ul class="main-list cf">
            <li>
                <img src="kocka.png" alt="kocka">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </li>

            <li> <img src="kocka.png" alt="kocka">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </li>

            <li id="linkovi">
                <ul id="linkoviposebno">
                    <br>
                    <a href="">Rebuilding slack.com</a>
                    <br>
                    <a href="">Zasto botcampformat?</a>
                    <br>
                    <a href="">React prozor u svet web aplikacija</a>
                    <br>
                    <a href="">Najvece zablude o programerima u Srbiji</a>
                    <li></li>
                </ul>

            </li>
            </li>

            <li>
                <img src="kocka.png" alt="kocka">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </li>
            <li>
                <img src="kocka.png" alt="kocka">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </li>
            <li>
                <img src="kocka.png" alt="kocka">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </li>
        </ul>

    </div>

</body>

</html>