body {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}

#navBar {
    width: 100%;
}

#head {
    font-size: 4.5rem;
    padding-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-weight: bold;
}

p {
    text-align: center;
    margin: 0 auto;
    width: 30%;
    color: #ffffff;
    padding-bottom: 2.0rem;
}

#first {
    background-image: url('./img/main-banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 10.5rem;
}

.btn {
    margin-right: 2%;
}

h1>span {
    color: #f7600f;
}

#btn {
    color: #ffffff;
    border-radius: 8px;
    padding: 8px 41px;
}

#btn:hover {
    background-color: #f7600f;
}

/* ----------------------------------- SECTION 2 --------------*/

#section2 {
    padding-top: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    padding-bottom: 5.5rem;
}

.icon>div {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #878990;
    width: 170px;
    height: 170px;
    margin-left: 3.5rem;
}

#section2>.icon>div>img {
    display: block;
}

.icon {
    display: inline-block;
    text-align: center;
}

#icon-section {
    margin-right: auto;
    margin-left: auto;
}

.icon-head {
    text-transform: uppercase;
    color: #878990;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 10px;
    font-weight: 500;
}

.icon-text {
    color: #878990;
    width: 100%;
    text-align: center;
}

/****SECTION---------INPUT------*/

.section3 {
    background-image: url('./img/newsletter-background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#input-email {
    padding: 6.5rem;
}

#input-email> :first-child {
    margin-right: 1.5rem;
}

#input-email>div>button {
    background-color: #f7600f;
    padding: 0.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
    border: 0px;
    border-radius: 0.5rem;
}

#input-email>div {
    display: block;
    width: 30%;
}